body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
}
a{
  text-decoration: none;
}
header ul li {
  list-style: none;
  margin-right: 15px;
}

.contenedor {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

header {
  background: linear-gradient(rgba(255,255,255,02), rgba()) url(../img/thinkinn.jpg);
  height: 100vh;
  background-size: cover;
}

#contenedor-titulo-flex {
  display: flex;
  justify-content: center;
  margin: 18vh 0;
  width: 100%;
}

h1 {
  font-size: 60px;
  color: #000;
  margin: 0;
}

h2 {
  font-size: 25px;
  color: #000;
}

.contenedor-titulo {
  text-align: center;
}

p.logo {
  color: rgb(8, 8, 8);
  font-size: 20px;
}
header .menu .contenedor{
  justify-content: space-between;
}
nav ul li a {
  color: rgb(5, 5, 5);
}



/* Tema */

h3 {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
  color: #fff;
}
#tema{
  background: rgb(66, 66, 66);
}
#tema .contenedor span{
  color: #fff;
}
#tema .contenedor-tema {
  display: flex;
  justify-content: space-around;
  color: #fff;
}
#tema .contenedor-tema h2{
  color: #fff; 
  text-align: center;
}
#tema .texto {
  width: 42%;
}

/* SECCION SERVICIOS */
#speakers{
  background: #fff;
}
#speakers .contenedor h3{
  color: #000;
}
.contenedor-servicios {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;

}
.servicio {
  width: 24%;
  padding: 34px 30px 38px 30px;
  border-radius: 20px;
  margin-bottom: 40px;
  font-size: 16px;
  position: relative;
}
.servicio .expous , h4{
  width: 100%;
  border-radius: 10%;
  font-size: 0px;
  text-align: center;
}
.ondas{
  position: absolute;
  left: 0;
  bottom: 0;
}
.servicio h4{
  font-size: 20px;
  margin: 0;
}
.servicio h4 span{
  font-size: 12px;
  color: #1179f0;
}

.servicio p {
  margin-bottom: 20px;
  height: 194px;
}

.contenedor-servicios .violeta {
    background: linear-gradient(to top,rgb(66, 66, 66), rgb(66, 66, 66));
    box-shadow: 0 12px 30px 0 rgba(225, 227, 228, 0.37);
}
.contenedor-servicios .celeste {
    background: linear-gradient(to top, rgb(66, 66, 66), rgb(66, 66, 66));
    box-shadow: 0 12px 30px 0 rgba(225, 227, 228, 0.3);
}


/* Talleres */

button.owl-prev, button.owl-next {
    font-size: 30px !important;
}

span {
    color: #71bcfa;
}
#talleres{
  background: rgb(66, 66, 66);
}
#talleres h3{
  color: #fff;
}
#talleres h4{
  font-size: 30px;
  color: #fff;
}
#talleres p {
  text-align: center;
color: #000;
}

/* lugar y fecha */

.contenedor-fecha {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#lugar-fecha .item {
  width: 28%;
  text-align: center;
}

#lugar-fecha ul li {
  list-style: none;
}

#lugar-fecha ul li:nth-child(1) {
  font-weight: bold;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#lugar-fecha ul li:nth-child(3) {
  line-height: 31px;
}

/* Costo*/

#que-esperas {
  background: linear-gradient(rgb(109, 109, 109), rgba(66, 66, 66));
  text-align: center;
  padding: 50px 0;
  margin-top: 20px;
}

#que-esperas h3, span {
  font-size: 28px;
  color: #fff;
}
#que-esperas a{
  width: 50px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background: #2F2F2F;
  padding: 40px 0;
  text-align: center;
  margin-top: 40px;
}

footer .contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img {
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.4s;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 0.4s;
}

footer p {
  color: #fff;
  margin-top: 40px;
}

html {
  scroll-behavior: smooth;
}

#talleres, #tema, #lugar-fecha, #contacto {
  padding: 90px 0;
}

#speakers {
  padding: 70px 0;
}

.menu-icon {
  display: none;
}

@media (max-width: 800px) {

.menu-icon {
  display: block;
float: right;
width: 40px;
height: 35px;
margin-top: 15px;
}

header nav {
  position: absolute;
  top: 83px;
  left: 0;
  height: 268px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  display: none;
}

header nav ul {
  flex-direction: column;
}

header nav ul li {
  margin-bottom: 15px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 19px;
}

#tema .contenedor-tema {
    flex-direction: column;
}

#tema img {
  width: 100%;
}

#tema .texto {
    width: 100%;
}

.contenedor-tema {
    flex-direction: column;
}

.tema {
  width: 82%;
  padding: 34px 30px 69px 30px;
}

.icono {
    margin-top: 23px;
}

h3 {
  font-size: 43px;
}

.contenedor-fecha {
    flex-direction: column;
}

#lugar-fecha .item {
    width: 100%;
}

.item ul {
    padding: 0;
}
#contacto form {
    width: 100%;
    flex-direction: column;
}

input[type="text"], input[type="email"] {
    width: 100%;
}

footer img {
    margin: 0 24px;
}

}

@media (min-width: 300px) and (max-width:800px) {
  header {
    height: 30vh;
  }

  .servicio {
    width: 60%;
    padding: 34px 30px 69px 30px;
    margin: auto;
    margin-bottom: 45px;
}

#blog .publicacion {
    width: 71%;
    margin: auto;
    margin-bottom: 40px;
}

}
